<meta charset="utf-8" />
<div style="margin: 0 auto; width: 600px">
  <h3 style="text-align: center">жрачка топ</h3>
  {% if check.type == 'client' %}
  <table>
    <tr>
      <td><b>Чек №</b></td>
      <td>{{ check.order.id }}</td>
    </tr>
    <tr>
      <td><b>Час замовлення</b></td>
      <td>{{ check.order.time }}</td>
    </tr>
    <tr>
      <td><b>Коментар</b></td>
      <td>{{ check.order.comment }}</td>
    </tr>
  </table>
  <hr
    style="
      height: 0;
      background-color: transparent;
      opacity: 0.75;
      border-top: 2px dashed #9e9e9e;
    "
  />
  <table style="margin-left: auto; margin-right: auto; width: 100%">
    <tr>
      <th>Назва</th>
      <th>Кількість</th>
      <th>Ціна</th>
      <th>Всього</th>
    </tr>
    {% for dish in dishes %}
    <tr style="text-align: center">
      <td style="text-align: left">{{ dish.name }}</td>
      <td>{{ dish.number }}</td>
      <td>{{ dish.price }}</td>
      <td style="text-align: right">{{ dish.total }}</td>
    </tr>
    {% endfor %}
  </table>
  <p><span>Всього</span><span style="float: right">{{ total_price }}</span></p>
  <hr
    style="
      height: 0;
      background-color: transparent;
      opacity: 0.75;
      border-top: 2px dashed #9e9e9e;
    "
  />
  <p>
    <span>До оплати</span><span style="float: right">{{ total_price }}</span>
  </p>
  {% elif check.type == 'kitchen' %}
  <table>
    <tr>
      <td><b>Чек №</b></td>
      <td>{{ check.order.id }}</td>
    </tr>
    <tr>
      <td><b>Час замовлення</b></td>
      <td>{{ check.order.time }}</td>
    </tr>
    <tr>
      <td><b>Коментар</b></td>
      <td>{{ check.order.kitchen_comment }}</td>
    </tr>
  </table>
  <hr
    style="
      height: 0;
      background-color: transparent;
      opacity: 0.75;
      border-top: 2px dashed #9e9e9e;
    "
  />
  <table style="margin-left: auto; margin-right: auto; width: 100%">
    <tr>
      <th>Назва</th>
      <th>Кількість</th>
    </tr>
    {% for dish in dishes %}
    <tr style="text-align: center">
      <td style="text-align: left">{{ dish.name }}</td>
      <td>{{ dish.number }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
